bcrypt==4.1.2
chardet==3.0.4
deep-translator==1.11.4
google-generativeai==0.5.2
grpcio-status==1.62.2
h2==3.2.0
hstspreload==2024.5.1
nltk==3.8.1
passlib==1.7.4
pgvector==0.2.5
psycopg==3.1.18
psycopg-binary==3.1.18
PyMuPDF==1.24.2
python-dotenv==1.0.1
reflex-audio-capture==0.0.2
